@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Poppins Thin'), local('Poppins-Thin'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Poppins Black'), local('Poppins-Black'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
@font-face {
  font-family: fontawesome;
  src: url(../../fonts/fontawesome-webfont.woff);
}
body {
  background-color: #FFF;
  font-family: 'Poppins', sans-serif;
}
body,
html {
  height: 100%;
  margin: 0;
}
p {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}
.feature-img-title-text h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: #eb575e;
  padding: 0px;
  text-align: center;
}
.feature-img-title-text p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .feature-img-title-text h4 {
    text-align: left;
  }
  .feature-img-title-text h4.center {
    text-align: center;
  }
  .feature-img-title-text.break h4 {
    font-size: 17px;
  }
  .feature-img-title-text.break p {
    max-width: 238px;
  }
  .feature-img-title-text p {
    text-align: left;
  }
  .feature-img-title-text p.center {
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .feature-img-title-text.break h4 {
    font-size: 20px;
  }
  .feature-img-title-text.break p {
    max-width: 280px;
  }
}
section {
  margin-bottom: 20px;
}
.content-text {
  text-align: center;
  padding: 30px;
}
.content-text span {
  color: #eb575e;
  font-weight: 700;
}
.content-text p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.space-box {
  margin-top: 20px;
}
.button,
input.btn {
  border-radius: 20px;
  border: 0px none;
  padding: 10px;
  margin: 0 10px;
}
.button.whatsappbt,
input.btn.whatsappbt {
  background-color: #0ed500;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  max-height: 42px;
}
.button.allbt,
input.btn.allbt {
  background-color: #eb575e;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 40px;
}
input.btn {
  width: 100%;
  margin-bottom: 20px;
}
.big-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  color: #eb575e;
}
.big-title span {
  font-weight: 500;
}
@media (min-width: 768px) {
  .big-title {
    font-size: 52px;
    line-height: 59px;
  }
}
.m-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  color: #eb575e;
  text-align: center;
}
.m-title span {
  font-weight: 500;
}
@media (min-width: 768px) {
  .m-title {
    text-align: left;
  }
}
.m-sub-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .m-sub-title {
    text-align: left;
  }
}
.s-sub-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
}
.s-sub-title.ligth {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: #979595;
}
.modal-form {
  position: absolute;
  z-index: 50;
  background-color: #fff;
  width: 300px;
  right: 20px;
  top: 210px;
  border-radius: 5px;
}
.modal-form div.modal-title {
  background-color: #eb575e;
  border-radius: 5px 5px 0 0;
  width: 302px;
  margin-left: -1px;
}
.modal-form div.modal-title h4 {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 5px;
  text-align: center;
}
.modal-form .modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-form .modal-header h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}
.modal-form .modal-header h4 span {
  color: #eb575e;
  font-weight: 700;
  font-size: 25px;
}
.modal-form .instruction {
  font-size: 13px;
  font-weight: 600;
  color: green;
}
.modal-form .required {
  font-size: 13px;
  color: #D00;
}
.modal-form .error {
  font-size: 14px;
  font-weight: 600;
  color: #D00;
  letter-spacing: 1px;
  background-color: transparent;
}
.modal-form .has-float-label {
  display: block;
  position: relative;
}
.modal-form .has-float-label label,
.modal-form .has-float-label > span {
  position: absolute;
  cursor: text;
  font-size: 75%;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: -0.5em;
  left: 0.75rem;
  z-index: 3;
  line-height: 1;
  padding: 0 1px;
  background: #fff;
}
.modal-form .has-float-label label::after,
.modal-form .has-float-label > span::after {
  content: " ";
  display: block;
  position: absolute;
  background: #fff;
  height: 2px;
  top: 50%;
  left: -0.2em;
  right: -0.2em;
  z-index: -1;
}
.modal-form .has-float-label .form-control::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.modal-form .has-float-label .form-control::-moz-placeholder {
  opacity: 1;
  transition: all 0.2s;
}
.modal-form .has-float-label .form-control:-ms-input-placeholder {
  opacity: 1;
  transition: all 0.2s;
}
.modal-form .has-float-label .form-control::placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.modal-form .has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0;
}
.modal-form .has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder {
  opacity: 0;
}
.modal-form .has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder {
  opacity: 0;
}
.modal-form .has-float-label .form-control:placeholder-shown:not(:focus)::placeholder {
  opacity: 0;
}
.modal-form .has-float-label .form-control:placeholder-shown:not(:focus) + * {
  font-size: 100%;
  color: #6c757d;
  opacity: 1;
  top: 0.3em;
}
.modal-form .input-group .has-float-label {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal-form .has-float-label .form-control:placeholder-shown:not(:focus) + * {
  margin-top: 6px;
}
.modal-form .form-control:focus {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
