@import 'variables.less';


body {
    background-color: @color-white;
    font-family     : 'Poppins', sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
}

p {
    margin   : 0px;
    padding  : 0px;
    font-size: 12px;
}


.feature-img-title-text {

    h4 {
        font-size  : 20px;
        font-weight: 700;
        line-height: 23px;
        color      : #eb575e;
        padding    : 0px;
        text-align : center;
    }

    p {
        font-size    : 13px;
        text-align   : center;
        margin-bottom: 20px;
    }

    @media (min-width: 1024px) {
        h4 {
            text-align: left;

            &.center {
                text-align: center;
            }
        }

        &.break {

            h4 {
                font-size: 17px;
            }

            p {
                max-width: 238px;
            }
        }

        p {
            text-align: left;

            &.center {
                text-align: center;
            }
        }
    }

    @media (min-width: 1440px) {

        &.break {

            h4 {
                font-size: 20px;
            }

            p {
                max-width: 280px;
            }
        }
    }
}

section {
    margin-bottom: 20px;
}

.content-text {
    text-align: center;
    padding   : 30px;

    span {
        color      : @firstColor;
        font-weight: 700;
    }

    p {
        margin-top   : 15px;
        margin-bottom: 15px;
    }
}

.space-box {
    margin-top: 20px;
}

.button,
input.btn {
    border-radius: 20px;
    border       : 0px none;
    padding      : 10px;
    margin       : 0 10px;

    &.whatsappbt {
        background-color: @alertColor;
        color           : @textDark;
        font-size       : 12px;
        font-weight     : 700;
        text-transform  : uppercase;
        max-height      : 42px;
    }

    &.allbt {
        background-color: @firstColor;
        color           : @textDark;
        font-size       : 13px;
        font-weight     : 700;
        text-transform  : uppercase;
        padding         : 10px 40px;
    }
}

input.btn {
    width        : 100%;
    margin-bottom: 20px;
}

.big-title {
    font-size  : 32px;
    font-weight: 700;
    line-height: 39px;
    color      : @firstColor;

    span {
        font-weight: 500;
    }

    @media (min-width: 768px) {
        font-size  : 52px;
        line-height: 59px;
    }
}

.m-title {
    font-size  : 30px;
    font-weight: 700;
    line-height: 33px;
    color      : @firstColor;

    text-align: center;

    span {
        font-weight: 500;
    }

    @media (min-width: 768px) {
        text-align: left;
    }
}


.m-sub-title {

    font-size  : 20px;
    font-weight: 500;
    line-height: 30px;

    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
    }
}

.s-sub-title {
    font-size  : 12px;
    font-weight: 600;
    line-height: 17px;

    &.ligth {
        font-size  : 12px;
        font-weight: 400;
        line-height: 21px;
        color      : #979595;
    }
}



///////////////////// FORM

.modal-form {
    position        : absolute;
    z-index         : 50;
    background-color: #fff;
    width           : 300px;
    right           : 20px;
    top             : 210px;
    border-radius   : 5px;

    div.modal-title {
        background-color: @firstColor;
        border-radius   : 5px 5px 0 0;
        width           : 302px;
        margin-left     : -1px;

        h4 {
            width      : 100%;
            font-size  : 16px;
            font-weight: 400;
            color      : #fff;
            padding    : 5px;
            text-align : center;
        }
    }

    .modal-header {
        display       : flex;
        flex-direction: column;
        align-items   : center;

        h4 {
            text-align    : center;
            text-transform: uppercase;
            font-size     : 14px;
            font-weight   : 400;

            span {
                color      : @firstColor;
                font-weight: 700;
                font-size  : 25px;
            }

        }
    }

    .instruction {
        font-size  : 13px;
        font-weight: 600;
        color      : green;
    }

    .required {
        font-size: 13px;
        color    : #D00;
    }

    .error {
        font-size       : 14px;
        font-weight     : 600;
        color           : #D00;
        letter-spacing  : 1px;
        background-color: transparent;
    }

    .has-float-label {
        display : block;
        position: relative
    }

    .has-float-label label,
    .has-float-label>span {
        position          : absolute;
        cursor            : text;
        font-size         : 75%;
        opacity           : 1;
        -webkit-transition: all .2s;
        transition        : all .2s;
        top               : -.5em;
        left              : .75rem;
        z-index           : 3;
        line-height       : 1;
        padding           : 0 1px;
        background        : #fff;
    }

    .has-float-label label::after,
    .has-float-label>span::after {
        content   : " ";
        display   : block;
        position  : absolute;
        background: #fff;
        height    : 2px;
        top       : 50%;
        left      : -.2em;
        right     : -.2em;
        z-index   : -1;
    }

    .has-float-label .form-control::-webkit-input-placeholder {
        opacity           : 1;
        -webkit-transition: all .2s;
        transition        : all .2s
    }

    .has-float-label .form-control::-moz-placeholder {
        opacity   : 1;
        transition: all .2s
    }

    .has-float-label .form-control:-ms-input-placeholder {
        opacity   : 1;
        transition: all .2s
    }

    .has-float-label .form-control::placeholder {
        opacity           : 1;
        -webkit-transition: all .2s;
        transition        : all .2s
    }

    .has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
        opacity: 0
    }

    .has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder {
        opacity: 0
    }

    .has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder {
        opacity: 0
    }

    .has-float-label .form-control:placeholder-shown:not(:focus)::placeholder {
        opacity: 0
    }

    .has-float-label .form-control:placeholder-shown:not(:focus)+* {
        font-size: 100%;
        color    : #6c757d;
        opacity  : 1;
        top      : .3em
    }

    .input-group .has-float-label {
        -webkit-box-flex       : 1;
        -webkit-flex-grow      : 1;
        -ms-flex-positive      : 1;
        flex-grow              : 1;
        margin-bottom          : 0;
        display                : -webkit-box;
        display                : -webkit-flex;
        display                : -ms-flexbox;
        display                : flex;
        -webkit-box-orient     : vertical;
        -webkit-box-direction  : normal;
        -webkit-flex-direction : column;
        -ms-flex-direction     : column;
        flex-direction         : column;
        -webkit-box-pack       : center;
        -webkit-justify-content: center;
        -ms-flex-pack          : center;
        justify-content        : center
    }

    .has-float-label .form-control:placeholder-shown:not(:focus)+* {
        margin-top: 6px;
    }

    .form-control {
        &:focus {
            border-color: red;
            box-shadow  : 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
        }
    }
}