body {
  background-color: #FFF;
  font-family: 'Poppins', sans-serif;
}
body,
html {
  height: 100%;
  margin: 0;
}
p {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}
.feature-img-title-text h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: #eb575e;
  padding: 0px;
  text-align: center;
}
.feature-img-title-text p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .feature-img-title-text h4 {
    text-align: left;
  }
  .feature-img-title-text h4.center {
    text-align: center;
  }
  .feature-img-title-text p {
    text-align: left;
  }
  .feature-img-title-text p.center {
    text-align: center;
  }
}
section {
  margin-bottom: 20px;
}
.content-text {
  text-align: center;
  padding: 30px;
}
.content-text span {
  color: #eb575e;
  font-weight: 700;
}
.content-text p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.space-box {
  margin-top: 20px;
}
.button {
  border-radius: 20px;
  border: 0px none;
  padding: 10px;
  margin: 0 10px;
}
.button.whatsappbt {
  background-color: #0ed500;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  max-height: 42px;
}
.button.allbt {
  background-color: #eb575e;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 40px;
}
.big-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  color: #eb575e;
}
.big-title span {
  font-weight: 500;
}
@media (min-width: 768px) {
  .big-title {
    font-size: 52px;
    line-height: 59px;
  }
}
.m-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  color: #eb575e;
  text-align: center;
}
.m-title span {
  font-weight: 500;
}
@media (min-width: 768px) {
  .m-title {
    text-align: left;
  }
}
.m-sub-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .m-sub-title {
    text-align: left;
  }
}
.s-sub-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
}
.s-sub-title.ligth {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: #979595;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Poppins Thin'), local('Poppins-Thin'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Poppins Black'), local('Poppins-Black'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
@font-face {
  font-family: fontawesome;
  src: url(../../fonts/fontawesome-webfont.woff);
}
header {
  background-color: #eb575e;
  height: 70px;
  padding-top: 13px;
}
header .contentHeader {
  display: flex;
  justify-content: center;
}
header .contentHeader h1 {
  font-size: 16px;
  font-weight: 400;
  margin: initial;
  padding-top: 0px;
  color: #fff;
  text-align: center;
}
header .contentHeader .button.whatsappbt {
  padding: 0px 30px;
}
.navbar {
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #FFF;
}
.navbar .navbar-nav .active > .nav-link {
  font-weight: 700;
  color: #eb575e;
}
.navbar-toggler {
  margin-left: 55px;
}
#navbarNav {
  padding-left: 10px;
}
.banner {
  background-image: url("../../images/bg-home.png");
  background-color: #212121;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.banner .boxFeature {
  width: 80%;
  padding: 20px;
}
.banner .boxFeature h3 {
  font-weight: 700;
  font-size: 14px;
}
.banner .boxFeature h2 {
  font-weight: 700;
  font-size: 38px;
}
.banner .boxFeature h1 {
  font-weight: 400;
  font-size: 14px;
}
.banner-about {
  background-image: url("../../images/bg-home.png");
  background-color: #212121;
  height: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 75px;
}
.banner-about .boxFeature {
  width: 80%;
  padding: 20px;
}
.banner-about .boxFeature h2 {
  font-size: 42px;
  font-weight: 700;
}
.banner-about .boxFeature h1 {
  font-size: 18px;
}
.banner-bloginter {
  background-image: url("../../images/bg-home.png");
  background-color: #212121;
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 75px;
}
.banner-bloginter .boxFeature {
  width: 100%;
  padding: 20px;
  text-transform: uppercase;
}
.banner-bloginter .boxFeature h2 {
  font-size: 42px;
  font-weight: 700;
}
.banner-bloginter .boxFeature h1 {
  font-size: 18px;
}
.invite {
  text-align: center;
}
.invite h3 {
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  line-height: 25px;
  text-align: center;
}
.invite h3 span {
  color: #eb575e;
  font-weight: 700;
}
.depositions {
  background-image: url("../../images/bg-home.png");
  background-color: #212121;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.depositions .row-testimony {
  flex-direction: column;
}
.depositions h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.depositions h3 span {
  color: #eb575e;
}
.depositions .testimony {
  margin: 10px 30px;
  text-align: center;
}
.depositions .testimony img {
  background-color: #212121;
  margin-bottom: 10px;
}
.depositions .testimony h6 {
  font-size: 16px;
  font-weight: 700;
}
.depositions .testimony p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.howWork {
  text-align: center;
}
.howWork button {
  width: 88vw;
}
.howWork h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  color: #212121;
  text-align: center;
  padding: 20px;
}
.howWork h3 span {
  color: #eb575e;
}
.howWork .row-steps {
  flex-direction: column;
  padding: 10px 20px;
}
.howWork .row-steps h3 {
  text-align: left;
  padding: initial;
}
.howWork .row-steps .step {
  margin-bottom: 20px;
}
.howWork .row-steps .step div:nth-child(1) {
  text-align: center;
}
.howWork .row-steps .step div {
  padding: 0px 10px;
}
.howWork .row-steps .step p {
  text-align: left;
}
.destake-room .box .float {
  position: relative;
  top: 50px;
}
.destake-room .box .h-img {
  object-fit: cover;
  height: 276px;
  width: 100%;
  border-radius: 3px;
}
.destake-persianas {
  background-image: url("../../images/bg-home.png");
  background-color: #212121;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.destake-persianas .flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.destake-persianas .padding-box {
  padding: 40px;
}
.destake-persianas .box {
  padding: 40px 10px;
}
.destake-persianas .box p {
  font-size: 12px;
}
.destake-persianas h6 {
  font-weight: 400;
}
.destake-persianas h6 span {
  color: #eb575e;
  font-size: 25px;
  font-weight: 700;
}
.news h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 23px;
  color: #212121;
  text-align: center;
  padding: 20px;
}
.news h3 span {
  color: #eb575e;
}
.news h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
}
.news h4 span {
  color: #eb575e;
}
.news .box img {
  border-radius: 8px;
  object-fit: cover;
  height: 189px;
  width: 100%;
}
.news .box .date-post {
  font-size: 11px;
}
.news .box .date-post span {
  color: #eb575e;
}
.news .box p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.news .box .allbt {
  width: 100px;
  font-size: 9px;
  padding: 6px;
  margin: 14px 0px;
}
.contact {
  text-align: center;
}
.contact button {
  width: 88vw;
}
.contact h3 {
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  color: #212121;
  text-align: center;
}
.contact h3 span {
  color: #eb575e;
}
.contact .row-steps {
  flex-direction: column;
  padding: 10px 20px;
}
.contact .row-steps h3 {
  text-align: left;
  padding: initial;
}
.contact .row-steps .step {
  margin-bottom: 20px;
}
.contact .row-steps .step div:nth-child(1) {
  text-align: center;
}
.contact .row-steps .step div {
  padding: 0px 10px;
}
.contact .row-steps .step p {
  text-align: left;
  font-size: 11px;
}
.contact-feature {
  background-color: #212121;
  height: auto;
  color: #fff;
}
.contact-feature .text {
  padding: 30px;
}
.contact-feature .text h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.contact-feature .text p {
  font-size: 13px;
  font-weight: 400;
}
.contact-feature .whatsappbt {
  margin: 0 0 50px 30px;
  padding: 6px 25px;
}
footer {
  text-align: center;
}
footer .navbar-brand {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer span {
  color: #eb575e;
  font-size: 15px;
  font-weight: 700;
}
footer .local span {
  color: #eb575e;
  font-size: 15px;
  font-weight: 700;
}
footer .local span:before {
  font-family: "fontawesome";
  content: "\f041";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #eb575e;
  margin-right: 15px;
}
footer .callus span {
  color: #eb575e;
  font-size: 15px;
  font-weight: 700;
}
footer .callus span:before {
  font-family: "fontawesome";
  content: "\f095";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #eb575e;
  margin-right: 15px;
}
footer .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .social p {
  float: left;
  margin: initial;
}
footer .social span {
  color: #eb575e;
  font-size: 15px;
  font-weight: 700;
}
footer .social .facebook span {
  color: #338AFF;
  font-size: 20px;
}
footer .social .facebook span:before {
  font-family: "fontawesome";
  content: "\f082";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  margin-right: 5px;
  margin-left: 5px;
}
footer .social .instagram span {
  color: #212121;
  font-size: 20px;
}
footer .social .instagram span:before {
  font-family: "fontawesome";
  content: "\f16d";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  margin-right: 5px;
  margin-left: 5px;
}
footer .social .youtube span {
  color: #D9002B;
  font-size: 20px;
}
footer .social .youtube span:before {
  font-family: "fontawesome";
  content: "\f16a";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  margin-right: 5px;
  margin-left: 5px;
}
footer p {
  font-size: 13px;
  font-weight: 400;
  margin-left: 0px;
  color: #7b7b7b;
}
footer .conditions {
  color: #979595;
  font-size: 12px;
  font-weight: 400;
  border-top: 1px solid;
  margin-top: 40px;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
}
footer .copyright {
  background-color: #000;
  color: #7b7b7b;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 20px;
}
footer .copyright img {
  margin-top: 10px;
  float: none;
  margin-left: 55px;
}
.works .whatsappbt {
  margin-top: 20px;
  margin-left: 0px;
}
.works .feature-img-title-text {
  padding: 50px;
}
.works p,
.works h2,
.works div,
.works h4 {
  text-align: center;
}
.content-bloginter p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #565656;
}
.content-bloginter .box {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #eb575e;
  border-radius: 3px;
  padding: 10px;
  color: #FFF;
  font-weight: 700;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  float: left;
  margin-right: 20px;
}
@media (min-width: 375px) {
  footer .copyright img {
    margin-left: 83px;
  }
  .navbar-toggler {
    margin-left: 110px;
  }
}
@media (min-width: 425px) {
  header .contentHeader h1 {
    padding-top: 11px;
    font-size: 14px;
  }
  header .contentHeader .button.whatsappbt {
    font-size: 12px;
    padding: 10px;
  }
  footer .copyright {
    padding: 10px 45px;
  }
  footer .copyright img {
    float: initial;
    margin-top: 10px;
  }
  .navbar-toggler {
    margin-left: 160px;
  }
}
@media (min-width: 768px) {
  header .contentHeader h1 {
    padding-top: 11px;
  }
  header .contentHeader .button.whatsappbt {
    padding: 10px 40px;
  }
  .banner .boxFeature {
    width: 80%;
    padding: 20px;
  }
  .banner .boxFeature h3 {
    font-size: 18px;
  }
  .banner .boxFeature h2 {
    font-size: 42px;
    width: 50%;
  }
  .banner .boxFeature h1 {
    font-size: 18px;
    width: 50%;
  }
  .button.whatsappbt {
    font-size: 16px;
    padding: 10px 40px;
  }
  .depositions {
    height: auto;
    padding: 50px;
  }
  .depositions .row-testimony {
    flex-direction: row;
  }
  .depositions .testimony {
    margin: 10px 30px;
    text-align: center;
  }
  .depositions .testimony img {
    background-color: #212121;
    margin-bottom: 10px;
  }
  .depositions .testimony h6 {
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
  }
  .depositions .testimony p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .howWork {
    text-align: center;
  }
  .howWork button {
    width: initial;
  }
  .howWork .row-steps {
    flex-direction: row;
  }
  .howWork .row-steps p {
    text-align: left;
  }
  .destake-room .box .h-img {
    height: 164px;
  }
  .news .box img {
    width: 269px;
  }
  .contact {
    text-align: center;
  }
  .contact button {
    width: 88vw;
  }
  .contact h3 {
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    color: #212121;
    text-align: center;
  }
  .contact h3 span {
    color: #eb575e;
  }
  .contact .row-steps {
    flex-direction: row;
  }
  .destake-room .box .h-img-l {
    height: 597px;
  }
  .destake-room .box .h-img {
    height: 278px;
  }
  .contact-feature {
    background-color: #212121;
    height: auto;
    color: #fff;
  }
  .contact-feature .text {
    padding: 45px;
  }
  .contact-feature .text h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .contact-feature .text p {
    font-size: 16px;
    font-weight: 400;
  }
  .contact-feature .whatsappbt {
    margin-top: 50px;
  }
  .works .box-more {
    padding: 40px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #fefefe;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  .works h4 {
    font-size: 15px;
  }
  .navbar-brand img {
    margin-top: 22px;
  }
  #navbarNav {
    margin-left: 0px;
  }
  footer .copyright {
    padding: 10px 20px;
  }
  footer .copyright img {
    margin-top: 0px;
    margin-left: 95px;
    margin-bottom: 6px;
  }
  .navbar-toggler {
    margin-left: 500px;
  }
}
@media (min-width: 1024px) {
  .navbar {
    padding: 0 16px;
  }
  .navbar .navbar-nav {
    height: 89px;
    line-height: 70px;
  }
  .navbar .navbar-nav .active > .nav-link {
    font-weight: 700;
    color: #eb575e;
    border-bottom: 3px solid #eb575e;
  }
  #navbarNav {
    margin-left: 140px;
  }
  .banner .boxFeature {
    width: 80%;
    padding: 20px;
  }
  .banner .boxFeature h3 {
    font-size: 18px;
  }
  .banner .boxFeature h2 {
    font-size: 52px;
    width: 50%;
  }
  .banner .boxFeature h1 {
    font-size: 18px;
    width: 50%;
  }
  .destake-persianas .box {
    padding: 0px;
  }
  .destake-persianas .box p {
    font-size: 18px;
  }
  footer {
    text-align: initial;
  }
  footer .navbar-brand {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  footer .copyright {
    padding: 10px 20px;
  }
  footer .copyright img {
    margin-left: 810px;
    margin-top: -19px;
  }
  footer p {
    margin-left: 28px;
  }
  footer .social {
    justify-content: initial;
  }
  footer .social p {
    float: left;
    margin: initial;
  }
  footer .social span {
    color: #eb575e;
    font-size: 15px;
    font-weight: 700;
  }
  footer .social .facebook span:before {
    margin-right: 15px;
    margin-left: 0px;
  }
  footer .social .instagram span:before {
    margin-right: 15px;
    margin-left: 0px;
  }
  footer .social .youtube span:before {
    margin-right: 15px;
    margin-left: 0px;
  }
  .works p,
  .works h2,
  .works div,
  .works h4 {
    text-align: left;
  }
  .works h4 {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  footer .copyright {
    padding: 10px 20px;
  }
  footer .copyright img {
    margin-left: 520px;
    margin-top: 0px;
  }
  #navbarNav {
    margin-left: 320px;
  }
}
