@import 'components.less';
@import 'variables.less';

/////
///// - commom layout ///////////////////////////////////////////////////////////////
/////

header {
    background-color: @firstColor;
    height          : 70px;
    padding-top     : 13px;

    .contentHeader {
        display        : flex;
        justify-content: center;

        h1 {
            font-size  : 16px;
            font-weight: 400;
            margin     : initial;
            padding-top: 0px;
            color      : #fff;
            text-align : center;
        }

        .button {
            &.whatsappbt {
                padding: 0px 30px;
            }
        }
    }
}

.navbar {
    font-size       : 16px;
    font-weight     : 400;
    box-shadow      : 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: @color-white;

    .navbar-nav {
        .active>.nav-link {
            font-weight: 700;
            color      : @firstColor;
        }
    }
}
.navbar-toggler{
    margin-left: 55px;
}
#navbarNav{
    padding-left: 10px;
}

.banner {
    background-image   : url("../../images/bg-home.png");
    background-color   : @textNegative;
    height             : 500px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    color              : @textDark;

    .boxFeature {
        width  : 80%;
        padding: 20px;

        h3 {
            font-weight: 700;
            font-size  : 14px;
        }

        h2 {
            font-weight: 700;
            font-size  : 38px;
        }

        h1 {
            font-weight: 400;
            font-size  : 14px;
        }
    }
}

.banner-about {

    background-image   : url("../../images/bg-home.png");
    background-color   : @textNegative;
    height             : 270px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    color              : @textDark;
    padding-top        : 75px;

    .boxFeature {
        width  : 80%;
        padding: 20px;

        h2 {
            font-size  : 42px;
            font-weight: 700;
        }

        h1 {
            font-size: 18px;
        }
    }
}

.banner-bloginter {

    background-image   : url("../../images/bg-home.png");
    background-color   : @textNegative;
    height             : 480px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    color              : @textDark;
    padding-top        : 75px;

    .boxFeature {
        width         : 100%;
        padding       : 20px;
        text-transform: uppercase;

        h2 {
            font-size  : 42px;
            font-weight: 700;
        }

        h1 {
            font-size: 18px;
        }
    }
}

.invite {
    text-align: center;

    h3 {
        font-size  : 18px;
        font-weight: 400;
        padding    : 20px;
        line-height: 25px;
        text-align : center;

        span {
            color      : @firstColor;
            font-weight: 700;
        }
    }
}

.depositions {
    background-image   : url("../../images/bg-home.png");
    background-color   : @textNegative;
    height             : auto;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    color              : @textDark;

    .row-testimony {
        flex-direction: column;
    }

    h3 {
        font-size  : 24px;
        font-weight: 700;
        line-height: 33px;
        color      : @textDark;
        text-align : center;
        padding    : 20px;

        span {
            color: @firstColor;
        }
    }

    .testimony {
        margin    : 10px 30px;
        text-align: center;

        img {
            background-color: @secondColor;
            margin-bottom   : 10px;
        }

        h6 {
            font-size  : 16px;
            font-weight: 700;
        }

        p {
            font-weight: 400;
            font-size  : 12px;
            line-height: 15px;
        }
    }
}

.howWork {
    text-align: center;

    button {
        width: 88vw;
    }

    h3 {
        font-size  : 24px;
        font-weight: 700;
        line-height: 33px;
        color      : @textNegative;
        text-align : center;
        padding    : 20px;

        span {
            color: @firstColor;
        }
    }

    .row-steps {
        flex-direction: column;
        padding       : 10px 20px;

        h3 {
            text-align: left;
            padding   : initial;
        }

        .step {
            margin-bottom: 20px;

            div:nth-child(1) {
                text-align: center;
            }

            div {
                padding: 0px 10px;
            }

            p {

                text-align: left;
            }
        }
    }
}

.destake-room {
    .box {
        .float {
            position: relative;
            top     : 50px;
        }

        .h-img {
            object-fit   : cover;
            height       : 276px;
            width        : 100%;
            border-radius: 3px;
        }
    }
}

.destake-persianas {
    background-image   : url("../../images/bg-home.png");
    background-color   : @textNegative;
    height             : auto;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    color              : @textDark;

    .flex-center {
        display        : flex;
        align-items    : center;
        justify-content: center;
    }

    .padding-box {
        padding: 40px;
    }

    .box {

        padding: 40px 10px;

        p {
            font-size: 12px;
        }

    }

    h6 {

        font-weight: 400;

        span {
            color      : @firstColor;
            font-size  : 25px;
            font-weight: 700;
        }
    }
}

.news {
    h3 {
        font-size  : 24px;
        font-weight: 700;
        line-height: 23px;
        color      : @textNegative;
        text-align : center;
        padding    : 20px;

        span {
            color: @firstColor;
        }
    }

    h4 {
        font-size  : 16px;
        font-weight: 700;
        line-height: 17px;

        span {
            color: @firstColor;
        }
    }

    .box {
        img {
            border-radius: 8px;
            object-fit   : cover;
            height       : 189px;
            width        : 100%;
        }

        .date-post {
            font-size: 11px;

            span {
                color: @firstColor;
            }
        }

        p {
            font-size  : 12px;
            font-weight: 400;
            line-height: 18px;
        }

        .allbt {
            width    : 100px;
            font-size: 9px;
            padding  : 6px;
            margin   : 14px 0px;
        }
    }

}

.contact {
    text-align: center;

    button {
        width: 88vw;
    }

    h3 {
        font-size  : 15px;
        font-weight: 700;
        line-height: 23px;
        color      : @textNegative;
        text-align : center;

        span {
            color: @firstColor;
        }
    }

    .row-steps {
        flex-direction: column;
        padding       : 10px 20px;

        h3 {
            text-align: left;
            padding   : initial;
        }

        .step {
            margin-bottom: 20px;

            div:nth-child(1) {
                text-align: center;
            }

            div {
                padding: 0px 10px;
            }

            p {

                text-align: left;
                font-size : 11px;
            }
        }
    }
}

.contact-feature {

    background-color: @textNegative;
    height          : auto;
    color           : @textDark;

    .text {
        padding: 30px;

        h3 {

            font-size     : 20px;
            font-weight   : 700;
            text-transform: uppercase;
        }

        p {

            font-size  : 13px;
            font-weight: 400;
        }
    }

    .whatsappbt {
        margin : 0 0 50px 30px;
        padding: 6px 25px;
    }
}

footer {
    text-align: center;

    .navbar-brand {

        padding-top   : 20px;
        padding-bottom: 20px;
    }



    span {
        color      : @firstColor;
        font-size  : 15px;
        font-weight: 700;
    }

    .local {
        span {
            color      : @firstColor;
            font-size  : 15px;
            font-weight: 700;

            &:before {
                font-family   : "fontawesome";
                content       : "\f041";
                display       : inline-block;
                padding-right : 3px;
                vertical-align: middle;
                font-weight   : 900;
                color         : @firstColor;
                margin-right  : 15px;
            }
        }
    }

    .callus {
        span {
            color      : @firstColor;
            font-size  : 15px;
            font-weight: 700;

            &:before {
                font-family   : "fontawesome";
                content       : "\f095";
                display       : inline-block;
                padding-right : 3px;
                vertical-align: middle;
                font-weight   : 900;
                color         : @firstColor;
                margin-right  : 15px;
            }
        }
    }

    .social {
        display        : flex;
        flex-direction : row;
        justify-content: center;

        p {
            float : left;
            margin: initial;
        }

        span {
            color      : @firstColor;
            font-size  : 15px;
            font-weight: 700;
        }


        .facebook {
            span {
                color    : #338AFF;
                font-size: 20px;

                &:before {
                    font-family   : "fontawesome";
                    content       : "\f082";
                    display       : inline-block;
                    padding-right : 3px;
                    vertical-align: middle;
                    font-weight   : 900;
                    margin-right  : 5px;
                    margin-left   : 5px;
                }
            }
        }

        .instagram {
            span {
                color    : @secondColor;
                font-size: 20px;

                &:before {
                    font-family   : "fontawesome";
                    content       : "\f16d";
                    display       : inline-block;
                    padding-right : 3px;
                    vertical-align: middle;
                    font-weight   : 900;
                    margin-right  : 5px;
                    margin-left   : 5px;
                }
            }
        }

        .youtube {
            span {
                color    : #D9002B;
                font-size: 20px;

                &:before {
                    font-family   : "fontawesome";
                    content       : "\f16a";
                    display       : inline-block;
                    padding-right : 3px;
                    vertical-align: middle;
                    font-weight   : 900;
                    margin-right  : 5px;
                    margin-left   : 5px;
                }
            }
        }
    }


    p {

        font-size  : 13px;
        font-weight: 400;
        margin-left: 0px;
        color      : #7b7b7b;
    }

    .conditions {

        color         : #979595;
        font-size     : 12px;
        font-weight   : 400;
        border-top    : 1px solid;
        margin-top    : 40px;
        padding-top   : 40px;
        text-align    : center;
        padding-bottom: 40px;
    }

    .copyright {
        background-color: #000;
        color           : #7b7b7b;
        font-family     : Poppins;
        font-size       : 12px;
        font-weight     : 400;
        padding         : 10px 20px;

        img {
            margin-top : 10px;
            float      : none;
            margin-left: 55px;
        }
    }
}

.works {
    .whatsappbt {
        margin-top : 20px;
        margin-left: 0px;
    }

    .feature-img-title-text {
        padding: 50px;
    }

    p,
    h2,
    div,
    h4 {
        text-align: center;
    }
}

.content-bloginter {
    p {
        margin-bottom: 20px;
        font-size    : 16px;
        color        : #565656;
    }

    .box {
        box-shadow      : 0 3px 6px rgba(0, 0, 0, 0.16);
        background-color: @firstColor;
        border-radius   : 3px;
        padding         : 10px;
        color           : @color-white;
        font-weight     : 700;
        min-width       : 40px;
        min-height      : 40px;
        text-align      : center;
        float           : left;
        margin-right    : 20px;
    }
}


@media (min-width:375px) {
    footer {
        .copyright {
            img {
                margin-left: 83px;
            }
        }
    }

    .navbar-toggler {
        margin-left: 110px;
    }
}

/////
///// - > 425 ///////////////////////////////////////////////////////////////
/////



@media (min-width: 425px) {
    header {
        .contentHeader {
            h1 {
                padding-top: 11px;
                font-size  : 14px;
            }

            .button {
                &.whatsappbt {
                    font-size: 12px;
                    padding  : 10px;
                }
            }
        }
    }

    footer {

        .copyright {
            padding: 10px 45px;

            img {
                float     : initial;
                margin-top: 10px;
            }
        }
    }

    .navbar-toggler {
        margin-left: 160px;
    }
}


/////
///// - > 768 ///////////////////////////////////////////////////////////////
/////

@media (min-width: 768px) {
    header {
        .contentHeader {
            h1 {
                padding-top: 11px;
            }

            .button {
                &.whatsappbt {
                    padding: 10px 40px;
                }
            }
        }
    }

    .banner {
        .boxFeature {
            width  : 80%;
            padding: 20px;

            h3 {
                font-size: 18px;
            }

            h2 {
                font-size: 42px;
                width    : 50%;
            }

            h1 {
                font-size: 18px;
                width    : 50%;
            }
        }
    }

    .button {
        &.whatsappbt {
            font-size: 16px;
            padding  : 10px 40px;
        }
    }

    .depositions {
        height : auto;
        padding: 50px;

        .row-testimony {
            flex-direction: row;
        }

        .testimony {
            margin    : 10px 30px;
            text-align: center;

            img {
                background-color: @secondColor;
                margin-bottom   : 10px;
            }

            h6 {
                font-size  : 24px;
                line-height: 33px;
                font-weight: 700;
            }

            p {
                font-size  : 18px;
                font-weight: 400;
                line-height: 30px;
            }
        }
    }

    .howWork {
        text-align: center;

        button {
            width: initial;
        }

        .row-steps {
            flex-direction: row;

            p {
                text-align: left;
            }
        }
    }



    .destake-room {
        .box {
            .h-img {
                height: 164px;
            }
        }
    }

    .news {

        .box {
            img {
                width: 269px;
            }
        }

    }

    .contact {
        text-align: center;

        button {
            width: 88vw;
        }

        h3 {
            font-size  : 15px;
            font-weight: 700;
            line-height: 23px;
            color      : @textNegative;
            text-align : center;

            span {
                color: @firstColor;
            }
        }

        .row-steps {
            flex-direction: row;


        }
    }

    .destake-room {
        .box {
            .h-img-l {
                height: 597px;
            }

            .h-img {
                height: 278px;
            }
        }
    }

    .contact-feature {

        background-color: @textNegative;
        height          : auto;
        color           : @textDark;

        .text {
            padding: 45px;

            h3 {

                font-size     : 20px;
                font-weight   : 700;
                text-transform: uppercase;
            }

            p {

                font-size  : 16px;
                font-weight: 400;
            }
        }

        .whatsappbt {
            margin-top: 50px;
        }
    }

    .works {
        .box-more {

            padding      : 40px;
            border-right : 1px solid;
            border-bottom: 1px solid;
            border-color : #fefefe;
            box-shadow   : 0 3px 6px rgba(0, 0, 0, 0.16);
        }

        h4 {
            font-size: 15px;
        }
    }

    .navbar-brand {
        img {
            margin-top: 22px;
        }
    }

    #navbarNav {
        margin-left: 0px;
    }

    footer {
        .copyright {
            padding: 10px 20px;

            img {
                margin-top   : 0px;
                margin-left  : 95px;
                margin-bottom: 6px;
            }
        }
    }

    .navbar-toggler {
        margin-left: 500px;
    }

}


/////
///// - > 1024 ///////////////////////////////////////////////////////////////
/////

@media (min-width: 1024px) {
    .navbar {
        padding: 0 16px;

        .navbar-nav {
            height     : 89px;
            line-height: 70px;

            .active>.nav-link {
                font-weight  : 700;
                color        : @firstColor;
                border-bottom: 3px solid @firstColor;
            }
        }
    }
    #navbarNav {
        margin-left: 140px;
    }
    .banner {
        .boxFeature {
            width  : 80%;
            padding: 20px;

            h3 {
                font-size: 18px;
            }

            h2 {
                font-size: 52px;
                width    : 50%;
            }

            h1 {
                font-size: 18px;
                width    : 50%;
            }
        }
    }

    .destake-persianas {

        .box {
            padding: 0px;

            p {
                font-size: 18px;
            }

        }
    }

    footer {
        text-align: initial;

        .navbar-brand {

            padding-top   : 20px;
            padding-bottom: 0px;
        }

        .copyright {
            padding: 10px 20px;

            img {
                margin-left: 810px;
                margin-top : -19px;
            }
        }

        p {

            margin-left: 28px;
        }

        .social {
            justify-content: initial;

            p {
                float : left;
                margin: initial;
            }

            span {
                color      : @firstColor;
                font-size  : 15px;
                font-weight: 700;
            }


            .facebook {
                span {

                    &:before {
                        margin-right: 15px;
                        margin-left : 0px;
                    }
                }
            }

            .instagram {
                span {

                    &:before {
                        margin-right: 15px;
                        margin-left : 0px;
                    }
                }
            }

            .youtube {
                span {

                    &:before {
                        margin-right: 15px;
                        margin-left : 0px;
                    }
                }
            }
        }
    }

    .works {

        p,
        h2,
        div,
        h4 {
            text-align: left;
        }

        h4 {
            font-size: 20px;
        }
    }
}

/////
///// - > 1024 ///////////////////////////////////////////////////////////////
/////

@media (min-width: 1440px) {
    footer {
        .copyright {
            padding: 10px 20px;

            img {
                margin-left: 520px;
                margin-top : 0px;
            }
        }
    }

    #navbarNav {
        margin-left: 320px;
    }
}