
@firstColor       : #eb575e;
@secondColor      : #212121;
@color-white      : #FFF;
@alertColor       : #0ed500;
@textDark         : #fff;
@textNegative     : #212121;
@textTitle        : #474747;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: fontawesome;
    src        : url(../../fonts/fontawesome-webfont.woff);
}